.forecast-list {
  display: flex;
  flex-direction: row;
  gap: 13px;
}
.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1.3;
  max-width: 112px;
  width: 100px;
  padding: 10px;
  background: rgba(183, 183, 183, 0.33);
  border-radius: 18px;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.forecast-date {
  font-size: 14px;
  margin-bottom: 8px;
}

.forecast-icon img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 8px;
}

.forecast-temp {
  font-size: 18px;
}