.forecast-list {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #d9d9d911;
  border-radius: 18px;
  border: 1px solid rgba(182, 182, 182, 0.466);
}

.forecast-card {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding-inline: 12px;
  color: white;
  font-family: sans-serif;
  font-size: clamp(16px, 1.2vw, 16px);
    position: relative;
  cursor: pointer;
}


.forecast-card:hover {
  background: rgba(255, 255, 255, 0.08);
}

.forecast-card.active::before {
  content: "";
  position: absolute;
  left: 8px;
  height: 60%;
  width: 4px;
  background: #ffcc00;
  border-radius: 4px 4px 4px 4px;
}

.forecast-date {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
}

.weekday {
  font-size: 14px;
  margin-bottom: 8px;
}

.description {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.61);
}

.forecast-icon img {
  object-fit: contain;
  width: 70px;
}

.forecast-temp {
  font-size: 15px;
}

@media (max-width: 580px) {
  .forecast-list {
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 270px;
    padding-right: 10px;
  }

  .forecast-card {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .forecast-card img.forecast-icon {
    order: -1;
  }

  .forecast-temp {
    font-size: 24px;
  }
}
