.forecast-list {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 13px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior:inherit;
  padding-bottom: 10px;
  /* margin-top: auto; */
  /* margin-bottom: 20px; */
}
/* .forecast-list::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}
.forecast-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.forecast-list::-webkit-scrollbar-thumb:hover {
  background: #df0000;   
} */
.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1.3;
  max-width: 112px;
  width: 100px;
  padding: 10px;
  background: rgba(183, 183, 183, 0.33);
  border-radius: 18px;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.forecast-date {
  font-size: 14px;
  margin-bottom: 8px;
}

.forecast-icon img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 8px;
}

.forecast-temp {
  font-size: 15px;
}