.forecast-list {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 13px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior:inherit;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1.3;
  gap:10px;
  width: clamp(100px, 15vw, 120px);
  padding: clamp(6px, 1vw, 12px);

  background: rgba(0, 0, 0, 0.61);
  border-radius: 18px;
  text-align: center;
  color: white;
  font-family: sans-serif;

  font-size: clamp(16px, 1.2vw, 16px);
}

.forecast-date {
  font-size: 14px;
  margin-bottom: 8px;
}

.forecast-icon img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 8px;
}

.forecast-temp {
  font-size: 15px;
}

@media (max-width: 580px) {
  .forecast-list{
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 320px;
    padding-right: 10px;

  }

  .forecast-card {
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-around;
  }

  .forecast-card img.forecast-icon {
    order: -1;
    width: 70px;
  }

  .forecast-temp {
    font-size: 24px;
  }
}