.forecast-list {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 13px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior:inherit;
  padding-bottom: 10px; 
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1.3;

  width: clamp(80px, 15vw, 120px);
  padding: clamp(6px, 1vw, 12px);

  background: rgba(183, 183, 183, 0.33);
  border-radius: 18px;
  text-align: center;
  color: white;
  font-family: sans-serif;

  font-size: clamp(12px, 1.2vw, 16px);
}

.forecast-date {
  font-size: 14px;
  margin-bottom: 8px;
}

.forecast-icon img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 8px;
}

.forecast-temp {
  font-size: 15px;
}

@media (max-width: 1280px) {
  .forecast-card {

  }
}