.gooey-toggle {
  position: relative;
  aspect-ratio: 65 / 28;
  height: 40px;
  border-radius: 999px;  
  background: rgba(183, 183, 183,0.33);    
  overflow: hidden;
}

.text-C {
  position: absolute;
  left: 15px;     
  top: 50%;       
  transform: translateY(-55%);
  color: white;
  font-size: 16px;
  pointer-events: none;
}

.text-F {
  position: absolute;
  right: 18px;     
  top: 50%;       
  transform: translateY(-55%);
  color: white;
  font-size: 16px;
  pointer-events: none;
}

.toggle-input {
  appearance: none;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.toggle {
  width: 100%;
  height: 100%;
  overflow: visible;
  left:-5px
}

/* центральная капля */
.toggle-circle-center {
  transform-origin: center;
  transition: transform 0.6s;
}

.toggle-input:checked + .toggle .toggle-circle-center {
  transform: translateX(150px);
}

/* боковые капли */
.toggle-circle {
  transform-origin: center;
  transition: transform 0.45s;
  backface-visibility: hidden;
}

.toggle-circle.left {
  transform: scale(1);
}
.toggle-input:checked + .toggle .toggle-circle.left {
  transform: scale(0);
}

.toggle-circle.right {
  transform: scale(0);
}
.toggle-input:checked + .toggle .toggle-circle.right {
  transform: scale(1);
}