.wrapper {
    width: 30vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 25px;
    backdrop-filter: blur(3px);
    box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.164);
    border: 1px solid rgba(255, 255, 255, 0.288);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
}

.weather-grid {
  display: grid;
  padding-left: 44px;
  padding-right: 44px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 5vw;
  row-gap: 40px;
  align-items: start;
  color: #eaeaea;
}

/* Левая колонка */
.city-date-info,
.weather-icon,
.humidity {
  justify-self: start;
}

/* Правая колонка */
.unit-toggle,
.weather-main,
.wind {
  justify-self: end;
}


.city-date-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 20px;
}

.cityName {
  display: flex;
  gap: 8px;
  font-size: 27px;
}

.weather-main {
  text-align: end;
  font-size: 50px;
}

.weather-icon img {
  width: 150px;
  height: auto;
}

.description {
  font-size: 25px;
}

.unit-toggle button {
  width: 71px;
  height: 28px;
  border-radius: 15px;
  background-color: rgba(183, 183, 183, 0.33);
  border: none;    
  outline: none;    
  box-shadow: none;
}

.humidity,
.wind {
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-size: 16px;
  justify-content: center;
}

.search{
  display: flex;
  width: 75%;
  flex-direction: column; 
  align-items: center;
}

.searchBar {
  width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
      box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.164);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #EAEAEA;
  
  padding: 20px 0;
}

::placeholder{
    color: #eaeaea9c;
}

.suggestions {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6), opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.61);
  border-radius: 30px;
  list-style: none;
  z-index: 10;
  color: #EAEAEA;
  box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.164);
  padding: 10px 25px;
  overflow: hidden;
}

.suggestions.show {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: auto;
}

.suggestions li {
  display: flex;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.2s ease;
}

.suggestions li:hover {
  background-color: rgba(124, 124, 124, 0.301);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.178);
}

.buttonSearch {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.switch {
  position: relative;
  width: 70px;
  height: 34px;
}

.switch input {
  display: none;
}

.switch label {
  display: block;
  width: 100%;
  height: 100%;
  background: #444;
  border-radius: 34px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

/* сам шарик */
.blob {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  background: white;
  border-radius: 50%;
  transition: all 0.5s ease;
}

/* капля справа при включении */
.switch input:checked + label .blob {
  animation: gooRight 0.5s ease forwards;
}

@keyframes gooRight {
  0% {
    transform: translateX(0) scale(1,1);
  }
  30% {
    transform: translateX(18px) scale(1.6,0.6); /* правая сторона тянется */
    border-radius: 50% 50% 50% 50%;
  }
  60% {
    transform: translateX(28px) scale(1.1,1); /* шарик почти справа */
    border-radius: 50%;
  }
  100% {
    transform: translateX(36px) scale(1,1); /* шарик в норме */
  }
}