*, *::before, *::after {
  box-sizing: border-box;
}
.wrapper {
  overflow: visible;
  width: clamp(400px, 80vw, 850px); 
  height: clamp(600px, 70vh, 800px); 
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 25px;
  backdrop-filter: blur(3px);
  box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.164);
  border: 1px solid rgba(255, 255, 255, 0.288);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
  padding-inline: 50px;
}

.header-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;;
  align-items: center;
}

.weather-grid {
  display: grid;
  column-gap: clamp(10px, 3vw, 40px);
  row-gap: clamp(5px, 2vh, 20px);
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  /* column-gap: 5vw; */
  /* margin-bottom: 20px; */
  align-items: start;
  /* row-gap: 5%; */
  color: #eaeaea;
}

.grid {
  /* margin-top:clamp(10px, 4vh, 40px); */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.city-date-info {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-size: clamp(18px, 2vw, 27px);
  color: #eaeaea;
  align-self: flex-start;
}

.cityName {
  display: flex;
  gap: 8px;
  font-size: clamp(25px, 3vw, 37px);
}

.weather-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.weather-main-info {
  display: flex;
  color: #eaeaea;
  flex-direction: row;
  align-items: center;
  gap:10px;
}

.weather-temp {
  font-size: clamp(50px, 6vw, 55px);
}

.weather-description {
  font-size: clamp(25px, 3vw, 27px);
}

.weather-main {
  text-align: end;
  font-size: clamp(25px, 5vw, 45px);
}

.weather-icon img {
  width: clamp(130px, 10vw, 150px);
  height: clamp(130px, 10vw, 150px);
}

.description {
  font-size: clamp(18px, 2vw, 25px);
}

.unit-toggle button {
  width: 71px;
  height: 28px;
  border-radius: 15px;
  background-color: rgba(183, 183, 183, 0.33);
  border: none;    
  outline: none;    
  box-shadow: none;
}

.right-side {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.humidity,
.wind {
  display: flex;
  flex-direction: row;
  gap: 6px;
  color: #EAEAEA; 
  font-size: 16px;
  justify-content: flex-start;
}

.searchBarWrapper {
  position: relative;
  width: clamp(200px, 65%, 500px);
  flex: 1;
}

.searchBar {
  background-color: rgba(0, 0, 0, 0.61);
  box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.164);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  width: 100%;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #EAEAEA; 
  padding: 20px 0;
  width: 80%;
  min-width: 90px;
}

::placeholder{
    color: #eaeaea9c;
}

.suggestions {
  position: absolute;
  width: 100%;
  top:100%;
  left:0px;
  z-index: 10;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6), opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.61);
  border-radius: 30px;
  list-style: none;
  z-index: 10;
  color: #EAEAEA;
  box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.164);
  padding: 10px 25px;
  overflow: hidden;
}

.suggestions.show {
  position: absolute;
  transform: scaleY(1);
  opacity: 1;
  pointer-events: auto;
}

.suggestions li {
  display: flex;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.2s ease;
}

.suggestions li:hover {
  background-color: rgba(124, 124, 124, 0.301);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.178);
}

.buttonSearch {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.butLocation {
  background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 580px) {
  .top-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .city-date-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .bottom-row {
    margin-left: auto;
  }
  .wrapper{
    padding-top: 15px;
    overflow: hidden;
    padding-inline: 15px;
    margin-inline: 15px; 
    height: 95vh;
  }

  .searchBarWrapper {
    width: calc(100% - 30px); 
    margin: 0 auto;
  }

  .header-bar {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .weather-top {
    flex-direction: column;
  }

  .weather-main-info {
    width: 100%;
    justify-content: space-around;
  }

  .right-side {
    margin-left: 0;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
