.wrapper {
    width: 30vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 25px;
    backdrop-filter: blur(3px);
    box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.164);
    border: 1px solid rgba(255, 255, 255, 0.288);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
}

.weather-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 8vw;
  row-gap: 40px;
  align-items: start;
  color: #eaeaea;
}

/* Можешь использовать grid-area, но можно и так оставить — по порядку */

.city-date-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 20px;
}

.cityName {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 27px;
}

.unit-toggle {
  justify-self: end; /* выравнивание в правой ячейке */
}

.weather-main {
  text-align: center;
  font-size: 50px;
}

.weather-icon img {
  text-align: center;
  width: 110px;
  height: auto;
}

.description {
  font-size: 25px;
}

.humidity,
.wind {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  justify-content: center;
}

.search{
  display: flex;
  width: 75%;
  flex-direction: column; 
  align-items: center;
}

.searchBar {
  width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
      box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.164);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #EAEAEA;
  
  padding: 20px 0;
}

::placeholder{
    color: #eaeaea9c;
}

.suggestions {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6), opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.61);
  border-radius: 30px;
  list-style: none;
  z-index: 10;
  color: #EAEAEA;
  box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.164);
  padding: 10px 25px;
  overflow: hidden;
}

.suggestions.show {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: auto;
}

.suggestions li {
  display: flex;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.2s ease;
}

.suggestions li:hover {
  background-color: rgba(124, 124, 124, 0.301);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.178);
}

.buttonSearch {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
