.container{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 6px;              

}

.wrapper {
    width: 30vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.288);
    display: flex;
    justify-content: center;
    padding-top: 36px;
}
.searchBar {
    height: 8%;
    width: 100%;
    background-color: rgba(183, 183, 183, 0.33);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #EAEAEA;
  width: 100%;
  padding: 10px 0;
}
::placeholder{
    color: #eaeaea9c;
}

.suggestions {
  width: 100%;
  list-style: none;
  color: #EAEAEA;
  background: rgba(183, 183, 183, 0.33);
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: scaleY(0.5);
  transform-origin: top;
  pointer-events: none;
  transition: all 1s ease;
  z-index: 10;
}

.suggestions.show {
  padding-left: 25px;
  padding-right: 25px;
  margin: 0px 0px;
  transform: scaleY(1);
  pointer-events: auto;
  cursor: pointer;
}


.buttonSearch {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
