.weather-card.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: clamp(16px, 2vw, 24px); */
  padding-inline: 50px;
  border-radius: 20px;
  /* background: rgba(0, 0, 0, 0.6); */
  height: clamp(300px, 50vh, 600px); 
  width: clamp(400px, 80vw, 850px); 
  margin-top: 30px;
  height: 100%;
}

.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  width: 100%;
}

/* Используем shimmer-анимацию для эффекта загрузки */
.shimmer {
  background: linear-gradient(90deg, #444 25%, #666 50%, #444 75%);
  background-size: 200% 100%;
  animation: shimmer 1.4s infinite;
  border-radius: 8px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Используем те же стили для forecast */
.forecast-list {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 13px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior:inherit;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1.3;
  gap:10px;
  min-width: 100px;  /* минимальная ширина карточки */
  width: 120px;       /* фиксированная ширина */
  padding: 8px;       /* можно оставить clamp, если хочешь адаптивные паддинги */

  /* background: rgba(0, 0, 0, 0.61); */
  border-radius: 18px;
  text-align: center;
  color: white;
  font-family: sans-serif;

  font-size: clamp(16px, 1.2vw, 16px);
}


@media (max-width: 580px) {
  .weather-card.skeleton {
        overflow: hidden;
    padding-inline: 15px;
    margin-inline: 15px; 
  }

  .forecast-list{
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 270px; /* лучше max-height, чтобы не обрезало */
    padding-right: 6px;
    box-sizing: border-box;
  }

  .forecast-card {
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    margin-bottom: 10px; 
  }
}