.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(33, 34, 34);
  background-size: cover;
  background-position: center;
}

button, 
input, 
textarea {
  -webkit-tap-highlight-color: transparent;
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
}
