.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../public/task_01k8tk9q3sf94as0vk6an7cx5q_1761829356_img_1.webp');
  background-size: cover;
  background-position: center;
}

/* url('../public/background.jpg') */